@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@font-face {
    font-family: raleway;
    src: url(../font/Raleway/Raleway-Light.ttf);
}

body {
    font-size: 13px;
	user-select: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: underline;
}

button,
a {
    cursor: pointer;
}

button,
button:focus {
    border: none;
    outline: none;
}

.italic {
    font-style: italic;
}

.hide {
    display: none;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.settings {
    position: relative;
    background: url(../img/user.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 3rem;
    height: 3rem;
    outline: none;
    border-radius: 100%;
}

.thumb {
    max-height: 100%;
    border-radius: 50%;
}

.chat-list,
.chat {
    display: inline-block;
}

.chat-list {
    overflow: scroll;
}

.chat-list input[name=search] {
    margin-top: 0;
    width: 100%;
    font-size: 12px;
    display: block;
    outline: none;
    border: 1px #ccc solid;
}

.chat-list .search-header {
    background: orange;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.chat-list ul {
    width: 100%;
    margin-bottom: 0;
}

.chat-list li {
    list-style: none;
    border-bottom: 1px #EFEFEF solid;
    vertical-align: middle;
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.chat-list li:hover,
.chat-list li.active {
    background-color: #EEE;
}

.chat-list li .username {
    vertical-align: top;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1 1;
}

.chat-list li.notification:after {
    content: ' ';
    position: absolute;
    right: 30px;
    width: 15px;
    height: 15px;
    padding: 3px;
    font-size: 13px;
    text-align: center;
    border-radius: 50%;
    background: rgb(22, 139, 249);
    color: #fff;
}

.chat-list .listStrapper div {
    display: inline-block;
    height: 40px;
}

.chat-title {
    min-height: 0;
    border-bottom: 1px #EFEFEF solid;
}

.chat-title b:hover {
    cursor: pointer;
    text-decoration: underline;
}

.messages {
    overflow: auto;
    flex: 1 1;
    background: #efefef;
    background-image: linear-gradient(to bottom, #f8f9fa, #e9ecef);
}

.messages .cover img {
    margin: 50px auto;
    opacity: 0.5;
}

.chat .message {
    width: 100%;
    margin-bottom: 0.25rem;
}

.chat .message .content {
    display: inline-block;
    padding: 3px 10px;
    max-width: 75%;
    border-radius: 10px;
    text-align: left;
    position: relative;
    word-wrap: break-word;
    cursor: pointer;
    white-space: pre-line;
	border: 1px solid rgba(0, 0, 0, 0.05);
	font-size: 13px;
}

.chat .message .content img {
    max-width: 200px;
}
.chat .message .content> img{
    transform: translate(-50%,0);
    position: relative;
    left: 50%;
}

.chat .message .content .post-caption,
.chat .message .content a {
    color: #666;
}

.chat .message .content .reactions-likes {
    text-align: right;
}

.chat .message .content.ig-media .reactions-likes {
    padding: 0 0.5rem 0.5rem;
}

.chat .message .content .reactions-likes img {
    height: 1.4rem;
    border-radius: 50%;
}

.message.outward .content {
    background: linear-gradient(to top right, #0371e7, #1888ff);
    color: #efefef;
    font-weight: 400;
    margin-left: auto;
    float: right;
    border-bottom-right-radius: 0;
}

.message.inward .content {
    margin-right: auto;
    float: left;
    padding: 0.5rem 0.75rem;
    max-width: 75%;
    width: fit-content;
    color: #666;
    background-color: #EEE;
    border-top-left-radius: 0;
}

.message.inward .content.ig-media,
.message.outward .content.ig-media {
    background: #fff;
    color: #666;
    max-width: 75%;
    padding: 0;
    overflow: hidden;
}

.message.outward .content:not(.ig-media) a.link-in-message {
    color: white;
}

.message.inward .content a.link-in-message {
    color: rgb(22, 139, 249);
}

.message-time {
    font-size: 0.65rem;
    text-align: right;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    display: none;
}

.message-sender {
    font-size: 0.65rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
    display: none;
}

.seen {
    text-align: right;
    color: #aaa;
    font-size: 12px;
	font-style: normal;
	padding: 5px 10px;
	position: absolute;
	bottom: 50px;
	/* border: 2px solid red; */
	display: block;
	line-height: 12px;
}

.new-message {
    position: relative;
    width: 100%;
}

.new-message textarea,
.new-message textarea:focus {
    outline: none !important;
    box-shadow: none;
    font-size: 1rem;
    color: #555;
    padding: 0.75rem;
    width: 100%;
    word-wrap: break-word;
    padding-right: 6rem;
    height: 3rem;
    border: none;
    resize: none;
}

.viewer {
    position: absolute;
    top: 0;
    width: 100%;
    overflow-y: auto;
    bottom: 0;
    background: white;
    z-index: 3;
    display: none;
}

.viewer.active {
    display: block;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
}

.viewer .content img,
.viewer .content video {
    display: block;
    margin: 0 auto;
}

.viewer .content img {
    max-width: 55%;
}

.viewer button.close {
    background: transparent;
    opacity: 0.5;
}

.viewer .post-caption {
    margin: 10px auto;
    max-width: 250px;
    word-wrap: break-word;
    font-size: 15px;
}

.unfollowers {
    text-align: center;
}

.unfollowers li {
    display: inline-block;
    text-align: center;
    margin-top: 3rem;
}

.unfollow-button {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    background-color: #168bf9;
    color: #FFF;
}

.unfollow-button:hover {
    text-decoration: underline;
}

.view-on-ig {
    background: rgb(22, 139, 249);
    color: white;
    border: 1px rgb(22, 139, 249) solid;
    outline: none;
    padding: 8px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 13px;
    transition: all .2s ease-out .1s;
}

.view-on-ig:hover {
    opacity: 0.8;
}

.open-emoji,
.open-emoji:focus,
.send-attachment,
.send-attachment:focus {
    background: none;
    position: absolute;
    font-size: 24px;
    opacity: 0.5;
}

.send-attachment {
    right: 4rem;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    padding-top: 0;
}

.app {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.chat-list {
    max-height: inherit;
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px #EFEFEF solid;
}

.chat {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.listStrapper {
    flex: 1 1;
    overflow-y: overlay;
    background-color: #FCFCFC;
    border-right: 1px solid #EEE;
}

@media (max-width:768px) {
    .chat-list {
        width: 4.5rem;
    }

    .chat {
        max-width: calc(100% - 4.5rem);
    }
}

.appBody {
    position: relative;
    flex: 1 1;
    width: 100%;
}

.header .search-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-width: 25%;
}
#header-form{
    border-radius: 100px;
}

.header {
    background-color: #EEE;
	border-bottom: 1px solid #DFDFDF;
	padding: 10px;
}

.messageBox {
    border-top: 1px solid #DADADA;
    position: relative;
}

.ig-media .message-time {
    display: none;
}

.dropdown-menu.active {
    display: block;
    top: 4.5rem;
    left: 1rem;
}

.dropdown-item:hover {
    cursor: pointer;
}

.ig-media .message-sender {
    padding: 0.5rem;
}

::-webkit-scrollbar {
    background: whiteSmoke;
    width: 6px;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border: solid whiteSmoke 2px;
}

::-webkit-scrollbar-thumb:window-inactive:hover,
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}


.chat .message .content .post-caption,
.chat .message .content .link-in-message {
    padding: 0.5rem 0.75rem;
    margin-bottom: 0.25rem;
}

/**********************************
EMOJIS
***********************************/

@keyframes slideIn {
    0% {
    }

    0% {
        transform: translateY(20px);
        transform: translateX(20px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        transform: translateX(0px);
        opacity: 1;
		display: block;
		
    }
}

.open-emoji {
    right: 1rem;
    bottom: 0;
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
    padding-top: 0;
}

.emojis {
    width: 310px;
    max-width: 90%;
    position: fixed;
    background: #EEE;
    display: flex;
    flex-direction: column;
    height: 100vh;
    bottom: 0;
    right: 0;

}

.emojis:not(.hide) {
    animation-name: slideIn;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    border-left: 1px solid #CCC;
    animation-fill-mode: backwards;
}

.emojis.hide {
    animation-name: slideIn;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-timing-function: ease-out;
}

.emojis.hide {
	display: none;
}

.emojis-header {
    width: 100%;
    padding: 0.25rem;
    border-bottom: 1px #ddd solid;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    flex-shrink: 0;
}

.emojis-header div {
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
    border-right: 1px solid #ddd;
}

.emojis-close {
    /* background-color: red; */
	cursor: pointer;
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: -1;
}

.emojis-body {
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    padding: 10px 10px;
	text-align: center;
	z-index: 1;
}

.emojis-body .emoji {
    font-size: 20px;
    margin: 0.1rem;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow-y: hidden;
    cursor: pointer;
}

/******************************
CAROUSEL
******************************/

.carousel-left,
.carousel-right {
    position: absolute;
    padding: 40px;
    top: 200px;
    opacity: 0.2;
}

.carousel-left {
    left: 0;
    background: url(../img/chevron-left.png) no-repeat center;
    background-size: 30px;
}

.carousel-right {
    right: 0;
    background: url(../img/chevron-right.png) no-repeat center;
    background-size: 30px;
}